.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: linear-gradient(
        to bottom,
        rgb(27 86 219) 0%,
        rgb(14 39 98) 100%
    );
    color: #fff !important;
}

.dataTables_paginate {
    margin-top: 8px;
    margin-bottom: 8px;
}

// .dataTable tbody tr:hover td {
//     color: #fff !important;
// }

.odd-row:hover { 
    td {
        background-color: #000;
        color: #fff !important;
    }
}

.even-row:hover { 
    td {
        background-color: #000;
        color: #fff !important;
    }
}

.odd-row {
    border-bottom-width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;

    td {
        color: #000 !important;
    }
    transition: color .5s;
}

.even-row {
    border-bottom-width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
    
    td {
        color: #000 !important;
    }
}


@media screen and (min-width: 768px) {
    .dataTables_info {
        margin: 8px;
    }
}


.dataTables_wrapper .dataTables_length select {
    padding: 2px 20px 2px 8px !important; 
}

select:not([size]) {
    background-position: right -0.15rem center !important;
}